main p {
  text-align: justify;
}

h1 {
  margin: 10%;
  margin-bottom: 0;
  margin-top: 5%;
}

main {
  margin: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
}

img {
  width: 60%;
  margin-left: 10%;
}

.acerca-de-nosotros-contenedor {
  display: flex;
  align-items: center;
}

.texto {
  flex: 1;
}

.imagen {
  flex: 1;
}

@media screen and (max-width: 768px) {
  header img {
    width: 80%;
  }

  nav ul {
    text-align: center;
    margin-top: 10px;
  }

  nav ul li {
    display: block;
    margin-bottom: 10px;
  }

  main {
    margin: 10px;
  }

  h1 {
    font-size: 1.5rem;
  }

  .acerca-de-nosotros-contenedor {
    flex-direction: column;
    align-items: center;
  }

  .imagen img {
    width: 80%;
  }
}
