body {
  background-color: #273238;
}

h1 {
  font-family: "Impact", "Charcoal", "sans-serif";
  background-color: white;
  text-align: center;
  font-weight: bolder;
  font-size: 3em;
  letter-spacing: 2px;
  color: #698593;
  text-transform: capitalize;
}

h2 {
  font-family: "Arial", "Gadget", "sans-serif";
  font-weight: 900;
  text-transform: uppercase;
  font-style: oblique;
  text-transform: capitalize;
  font-variant: small-caps;
}

p {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color:#3C63AE;
}

img {
  border: 5px solid;
  padding: 1px;
  margin-left: 2.5%;
  width: 25%;
  height: auto;
}

.aspiradora {
  color: #e6cbbf;
}

.celular {
  color: #a1c1cb;
}

.consolas {
  color: #a1c1cb;
}

.home-theaters {
  color: #8d94a1;
}

.tv {
  color: #b2b2aa;
}
