/* Estilos para las cards de productos */
.product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.product-card img {
    max-width: 100%;
}

.product-card h2 {
    font-size: 1.2rem;
    margin-top: 10px;
}

.product-card p {
    font-size: 1rem;
    color: #777;
}

.product-card .buy-button {
    display: inline-block;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.product-card .buy-button:hover {
    background-color: #0056b3;
}
